



.blog-content-wraooer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}

@media screen and (max-width: 768px){
    .blog-content-wraooer{
        grid-template-columns: 1fr;
    }
}

