



@import "style-config/maxins.scss", "style-config/variables.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

body {
    background-color: black;
}

p {
    @include typography(18px, 400, 24px);
    @include small-screen {
        @include typography(16px, 400, 24px);
    }
}
  


h2 {
    @include typography(42px, 700, 1.2);
    @include small-screen {
        @include typography(16px, 400, 24px);
    }
    
}

h3 {
    @include typography(26px, 500, 1.2);
    @include small-screen {
        @include typography(16px, 400, 24px);
    }
}

h4 {
    @include typography(22px, 500, 1.2);
    @include small-screen {
        @include typography(16px, 400, 24px);
    }
}